h2, input[type="text"], button, app-spinner  {
    margin: 25px auto;
}
@media (min-width:0px) and (max-width: 575px) {
    button {
        position: relative;
        left: 40%;
    }
}
@media (min-width:576px) and (max-width: 767px) {
    input[type="text"] {
        margin-left: 1%;
    }
}
app-spinner[_ngcontent-c1] {

    margin: -81px auto;

}
.border-table {
    border: 2px solid black;
padding: 5px;
}
.weathersection {
    margin: 10% auto;
}
p {
    margin-bottom: 5px;
    text-align: center;
}
.border-rights {
    border-right:5px
}
.data-block {
    background-color: #ff6a00;
    margin:-5px;

    padding-bottom: 5px;
}
.display-1 {
    color:#ff6a00;;
}
.move-sides {
    margin: 20px 15px;
    color: #ff6000;
}
button,button:hover {
    background-color: #ff6000;
}
input[type="text"] {
    border: 2px solid #ff6000;
    color:  #ff6000;
}

@media (max-width: 1024px) { 
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    span {
        margin: 0px auto;
    }
}

.border-black {
    border: 2px solid black;
}
.temperature {
    margin-top:5px;
    margin: 0px -7px;
    border-bottom: 2px solid black;
}
table {

    width: 150px;
    padding: 10%;
    margin: 20px;
}

.make-center {
    margin-right: -15px;

}
@media (min-width: 992px) {
.col-lg-3 {
    max-width: 19.9% !important;
}
}
@media (min-width: 320px) and (max-width: 480px) {
    h2 {
        font-size: 18px;
    }
}

form {
width: 80%;
margin-top: 5%;
margin: 0px auto;
}

.tabel-row {
    margin: 0.4%;
}