
<div class="container">
        <form class="form-inline weathersection" [formGroup]="weatherForm" (ngSubmit)="getWeatherFor5Days()">
            <h2 class="move-sides">Weather in your city</h2>
            <input type="text" class="form-control move-sides" 
            formControlName="city" name="city"
            placeholder="City Name">
            <span>
                <button type="submit" class="btn btn-primary">Submit</button>        
            </span>          
        </form>
      </div>

<div class="weathersection">

  <div class="row">
    <div  class="col-sm-6 col-md-4 col-lg-3 " *ngFor="let weather of weathers">
    <div class="weather-block">
        
        <p class="data-block"><b>Date: {{weather.date | date}}</b></p>

      <div class="temperature">
        <p>Temperature</p>
      </div>
      <div class="minandmax">
        <div class="row">
            
            <div class="col-sm-6">
                <p>Max</p>
                <p>{{weather.tempMax}}</p></div>
            <div class="col-sm-6">
                <p>Min</p>
                <p>{{weather.tempMix}}</p></div>
        </div>
      </div>
      <div class="pressure">
          <div class="row">
              <div class="col-sm-6"><p>Pressure</p></div>
              <div class="col-sm-6"><p>{{weather.pressure}}</p></div>
          </div>
        </div>
        <div class="humidity">
            <div class="row">
                <div class="col-sm-6"><p>humidity</p></div>
                <div class="col-sm-6"><p>{{weather.humidity}}</p></div>
            </div>
        </div>

  </div>
  </div> 
</div>
</div>